@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
@import "../font/font.css";
}

body{
  @apply bg-gray-200
}

a.nuxt-link-active {
  font-weight: bold;


}
/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active {
  color: #00c58e;
  border-bottom:1px solid #00c58e;
}
